body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.card{
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.single-Slider{
    display: flex;
    justify-content: space-around;
}
.single-Slider p{
    margin: 0px;
}