body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

.single-Slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.single-Slider p {
    margin: 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#red-slider::-webkit-slider-thumb {
    background: red;
}

#red-slider::-moz-slider-thumb {
    background: red;
}

#red-slider::-moz-range-progress {
    background: red;
}

#green-slider::-webkit-slider-thumb {
    background: green;
}

#green-slider::-moz-slider-thumb {
    background: green;
}

#blue-slider::-webkit-slider-thumb {
    background: blue;
}

#blue-slider::-moz-slider-thumb {
    background: blue;
}

.seperator{
    margin: 0 10px;
    width: 2px;
    border-radius: 2px;
    background: #d3d3d3;
}

.pred {
    margin: 10px;
}